.hero1 {
    text-align: center;
    position: relative;
}

.overlay1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    width: 100%
}

@media screen and (max-width: 799px) {
   .backgroundImg{
    width: 100%;
    height:700px;
   }
   .overlay1{
        font-size: 8px;
        width:100%;
        height:10%;

   }
}

@media screen and (max-width:1260px) and (min-width:800px){
    .backgroundImg{
        width: 100%;
        height: 900px;
        align-items:center;
        margin-top:50px;
    }
}