.hero3 {
    position: relative;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

.img3 {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loc {
    margin-bottom: 40px;
}

.threeBoxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.box {
    background-color: black;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box ul {
    list-style: none;
    padding: 0;
    line-height: 1.8;
}

@media screen and (max-width: 799px) {
    .hero3{
    width:100%;
    height:auto;
    }

    .img3{
        margin-top:60px;
        height:1000px;
    }
    .box {
        
        flex-direction: column;
        width:100px;
        height:100px;
        padding:60px;
        font-size:13px;
    }
}

@media screen and (max-width:1260px) and (min-width:800px){
    .hero3{
        width:100%;
        height:auto;
        }

        .img3{
            margin-top:60px;
            height:900px;
        }
}